<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Safe Ride Dispatcher</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
  </script>

  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

   <link rel="stylesheet" href="/static/css/safeRide.css" />

</head>
<body>


<div id="dispatcherPage">
<div id="dispatchHeader">
  <h1>Ride Queue</h1>
</div>
<div id="fullContainerDispatch">


{% if session.rideRequests %}
<!-- <h1>RIDES TO BE ASSIGNED:</h1> -->
    {% for rideRequest in session.rideRequests %}
      {% if rideRequest.resolved == "false" %}
      <div id="{{ rideRequest._id }}" class="rideRequest">
        <div class="row">
        <div class="subrow">

        <div class="col-xs-4">
          <b class="secondaryColor">Name:</b><br> {{ rideRequest.name }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor" class="accent">Cellphone Number:</b><br> {{ rideRequest.cellphone }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Student ID:</b><br> {{ rideRequest.studentID }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Pickup Time:</b><br> {{ rideRequest.pickupTime }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Pickup Location:</b><br> {{ rideRequest.pickupLoc }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Dropoff Location:</b><br> {{ rideRequest.dropoffLoc }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Number of Passengers:</b><br> {{ rideRequest.passengers }}
        </div>
        <div class="col-xs-4">
          <b class="secondaryColor">Number of Bikes:</b><br> {{ rideRequest.bikes }}
        </div>
<!--         <div class="col-xs-4">
          <b class="secondaryColor">Assigned:</b><br> {{ rideRequest.assigned }}
        </div> -->



        </div>
        <div class="col-xs-12">
          <button id="assign" onclick="changeButtons('{{rideRequest._id}}')">Ride Completed</button>
        </div>
        <div id="buttonRow">
        <div class="col-xs-12 col-sm-6">
          <button id="delete" onclick="deleterideRequest('{{rideRequest._id}}')">Ride Completed</button>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button id="strike" onclick="addStrike('{{rideRequest.studentID}}','{{rideRequest._id}}')">No-Show</button>
        </div>
        </div>
        </div> <!-- row -->
      </div> <!-- rideRequest -->
    {% endif %}
  {% endfor %}


{% else %}
  
<!--   <p>No ride requests </p>  --> 
{% endif %}

</div> <!-- container -->
</div> <!-- full dispatch page -->

<!-- JS to insert into Python for DB processing  -->
<script type="text/javascript">
setTimeout('window.location.href=window.location.href;', 30000);
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      //pass open times

        //makes AJAX call to pass along the rideRequestID for DB deletion
        function deleterideRequest(rideRequestID){
            var objectID = rideRequestID;
            console.log(objectID);
            $.getJSON($SCRIPT_ROOT + '/_delete',
            // The object to pass to the server
            {objectID: objectID},
                  // The function to call with the response
                  function(data) {
                    $("#"+rideRequestID).remove(); //Live delete, no need to reload page
                  }); // End of the call to getJSON
        };


        function addStrike(studentID,rideRequestID){
            console.log(studentID);
            $.getJSON($SCRIPT_ROOT + '/_addStrike',
            // The object to pass to the server
            {studentID: studentID},
                  function(data) {
                    deleterideRequest(rideRequestID);
                  }); // End of the call to getJSON
        };

        function changeButtons(rideRequestID){
            $("#"+rideRequestID+" #assign").hide();
            $("#"+rideRequestID+" #buttonRow").css("display","inline");
            // $.getJSON($SCRIPT_ROOT + '/_assignRide',
            // // The object to pass to the server
            // {rideRequestID: rideRequestID},
            //       // The function to call with the response
            //       function(data) {
            //         // deleterideRequest(rideRequestID);
            //       }); // End of the call to getJSON
        };

       

</script>

</body>
</html>