<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
<title>Safe Ride Request</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
  </script>

  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

   <link rel="stylesheet" href="/static/css/safeRide.css" />

</head>
<body>

<div id="fullContainerRider" class="container">

<h1>Submit a Ride Request</h1>
<!--   Needed fields: Name, cellphone, studentID, pickuptime, pickupLoc, dropoffLoc, number of passengers, number of bikes  -->
<div id="errorField"></div>
<div class="row">

  <div class="col-xs-12 col-sm-6">
    <label for="studentID">UO StudentID Number:</label><br>
    <input presentation="student ID number" type="text" class="form-control"
      name="student ID number" id='studentID' placeholder="951xxxxxxx"/>
  </div>
    <div class="col-xs-12 col-sm-6">
    <label for="cellphone">Cellphone Number:</label><br>
    <input type="text" class="form-control"
      name="cellphone number" id='cellphone' placeholder="503-xxx-xxxx"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="name">Name:</label><br>
    <input type="text" class="form-control"
     name="first and last name" id='name' placeholder="First Last"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="pickupTime">Desired Pick Up Time:</label><br>
    <input type="text" class="form-control"
      name="pickup time" id='pickupTime' placeholder="HH:MM PM/AM"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="pickupLoc">Pick Up Location:</label><br>
    <input type="text" class="form-control"
      name="pickup location" id='pickupLoc' placeholder="within 3 miles of campus"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="dropoffLoc">Drop Off Location:</label><br>
    <input type="text" class="form-control"
      name="dropoff location" id='dropoffLoc' placeholder="within 3 miles of campus"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="passengers">Number of Passengers:</label><br>
    <select class="form-control"
      name="Passengers" id='passengers'/>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    <select>
  </div>
  <div class="col-xs-12 col-sm-6">
    <label for="bikes">Number of Bikes:</label><br>
    <select class="form-control"
      name="Bikes" id='bikes'/>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select> 
  </div>

  <div class="col-xs-12">
    <button id="create">Submit Ride Request</button>
    <input class="col-xs-2" type="checkbox" id="agree"><label class="col-xs-10" for="agree">Checking this box will verify your eligibility for SafeRide using your studentID. </label>
  </div>
 </div>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div> <!-- container -->


<!-- JS to insert into Python for DB processing  -->
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      //pass open times
      $('#create').click(
          // ... execute this function
          function(){
              var name = $('#name').val();
              var cellphone = $('#cellphone').val();
              var studentID = $('#studentID').val();
              var pickupTime = $('#pickupTime').val();
              var pickupLoc = $('#pickupLoc').val();
              var dropoffLoc = $('#dropoffLoc').val();
              var passengers = $('#passengers').val();
              var bikes = $('#bikes').val();
              // var notes = $('#notes').val();
              var incomplete = checkFields();
              if (incomplete=="true"){
                return;
              }

              //AJAX call
              $.getJSON($SCRIPT_ROOT + '/_createrideRequest',
                  // The object to pass to the server
                  {
                    name: name, cellphone: cellphone, studentID: studentID, pickupTime: pickupTime, pickupLoc: pickupLoc, dropoffLoc: dropoffLoc, passengers: passengers, bikes: bikes
                  },
                  // The function to call with the response
                  function(data) {
                    confirmRide();
                  }); // End of the call to getJSON

     }); 

        function createUser(studentID){
            $.getJSON($SCRIPT_ROOT + '/_createuser',
            // The object to pass to the server
            {studentID: studentID},
                  // The function to call with the response
                  function(data) {
                    // deleterideRequest(rideRequestID);
                    // alert("success");
                  }); // End of the call to getJSON
        };

        function checkID(studentID){
            $.getJSON($SCRIPT_ROOT + '/_checkID',
            // The object to pass to the server
            {studentID: studentID},
                  // The function to call with the response
                  function(data) {
                    if (data['result']=="true"){
                      createUser(studentID);
                    }
                    else{
                      checkStrikes(studentID);
                    }
                  }); // End of the call to getJSON
        };

        function checkStrikes(studentID){
            $.getJSON($SCRIPT_ROOT + '/_checkStrikes',
            // The object to pass to the server
            {studentID: studentID},
                  // The function to call with the response
                  function(data) {
                    console.log("STRIKES CHECKED");
                    // console.log(data['result']);
                    if (data['result']>=3){
                      strikeLimit();
                    }
                  }); // End of the call to getJSON
        };

        function checkFields(){
          //Will expand on this to give specific feedback on fields, highlight empties in red. Will also type check later.
          //Find backend way to do this, doing it based on html fields is very insecure. This was for demonstration purposes
          var incomplete = "false";
          $('.form-control').each(function(){
            if ($(this).val().length==0){
              incomplete = "true";
                  $("#errorField").append( "<p>Please enter your "+$(this).attr("name")+"</p>" );
                }
              })
          return(incomplete);

           }

        function confirmRide(){
          //function to alert the user that their ride request has been submitted
            $('#fullContainerRider').empty();
            $('#fullContainerRider').addClass("postSubmitContainer");
            $('#fullContainerRider').css('text-align','center');
            $('#fullContainerRider').html("<h2 class='col-xs-12'>We have recieved your ride request!</h2><h4 id='responseFooter' class='col-xs-12 col-sm-8 col-sm-offset-2'>We will contact you if the time you requested is unavailable. Otherwise, expect to see us at the pickup location specified at the time specified. REMEMBER, we will only wait at your pickup location for ten minutes after arrival, so please be at the exact location you specified by your requested pickup time!</h4>");
        }

        function strikeLimit(){
          //function that alerts user that they have 3 strikes and that there ride will not be submitted
            $('#fullContainerRider').empty();
            $('#fullContainerRider').addClass("rejectContainer");
            $('#fullContainerRider').css('text-align','center');
            $('#fullContainerRider').html("<h4>So... we checked your studentID.<br>Looks like you have had three no-shows with SafeRide.</h4><div class='gif'><iframe src='//giphy.com/embed/LDBuYzAwu8L4I' width='480' height='271' frameBorder='0' class='giphy-embed' allowFullScreen></iframe></div>");
        }


        //FUNCTION BINDINGS

        $('#agree').change(function(){
          $("#errorField").empty();
          var checked = $('#agree').is(":checked");
          var studentID = $('#studentID').val();
          if (checked&&studentID.length!=0){
            $('#create').prop("disabled",false);
            $('#create').css('display','inline')
            checkID(studentID);
          }
          else{
            $("#errorField").append( "<p>Please enter your studentID so we can check your eligibility</p>" );
            $('#create').prop("disabled",true);
            $('#create').css('display','none');
          }

        })

        //MINOR COMMANDS
        $('#create').prop("disabled",true);
        $('#create').css('display','none');


       

</script>

</body>
</html>
